{% extends "base.html" %} 

{% block content %}
<form action="/books">
  <input type="submit" value="Back to All Books">
</form>

{% for book in all_books %} 
    <div>
      {% if book.image != None %}
      <a href="/books/{{book.id}}" method="GET"><img src= "{{book.image}}" width="300" height="300"></a><br>
        {% else %}
        <a href="/books/{{book.id}}" method="GET"><img src= "https://i.imgur.com/1XaAof3.jpg" width="300" height="300"></a><br>
      {% endif %}
      <b>Title:</b> {{book.title}}<br>
      {% if book.stock == 0 %}
      <b>Stock level:</b> <span style="color:red"> {{book.stock}} </span><br>
        {% elif book.stock < 2 %}
      <b>Stock level:</b> <span style="color:orange"> {{book.stock}} </span><br>
      {% else %}
      <b>Stock level:</b> {{book.stock}}<br>
        {% endif %}
        <br>
    </div>

      
{% endfor %} 

{% endblock %}