{% extends "base.html" %} 

{% block content %}

  <section class="search-by">
  <form action="books/byauthor" method="post">
    <label for="author">Filter by author:</label>
    <select id="author" name="author">
      {% for author in all_authors %}
        <option value="{{ author }}">
          {{ author }}
        </option>
      {% endfor %}
    </select>
    <button type="submit", action="byauthor/", method="post">Go</button>
  </form>
  <form action="books/cancelauthor" method="post">
    <label for="author">Cancel author:</label>
    <select id="author" name="author">
      {% for author in all_authors %}
        <option value="{{ author }}">
          {{ author }}
        </option>
      {% endfor %}
    </select>
    <button type="submit", action="cancelauthor/", method="post">Cancel Author</button>
  </form>
  <form action="books/bygenre" method="post">
    <label for="genre">Filter by genre:</label>
    <select id="genre" name="genre">
      {% for genre in all_genres %}
        <option value="{{ genre }}">
          {{ genre }}
        </option>
      {% endfor %}
    </select>
    <button type="submit", action="bygenre/", method="post">Go</button>
  </form>
</section>
    <section class="book-container">
    {% for book in all_books %}  


 <div id="book-item">
  <ul>
      {% if book.image != None %}
      <a href="/books/{{book.id}}" method="GET"><img src= "{{book.image}}" width="300" height="300"></a><br>
        {% else %}
      <a href="/books/{{book.id}}" method="GET"><img src= "no_image_available.jpg" width="300" height="300"></a><br>
      {% endif %}
      <b>Title:</b> {{book.title}}<br>
      {% if book.stock == 0 %}
      <b>Stock level:</b> <span style="color:red"> {{book.stock}} </span><br>
        {% elif book.stock < 2 %}
      <b>Stock level:</b> <span style="color:orange"> {{book.stock}} </span><br>
      {% else %}
      <b>Stock level:</b> {{book.stock}}<br>
        {% endif %}
        <br>

</ul>

      
{% endfor %} 
</div>
</section>
{% endblock %}