{% extends "base.html" %} 

{% block content %}

{% for book in all_books %} 
<div class="book">
    <div class="content">
        <p>
      <b>Title:</b> {{book.title}}<br>
      <b>Publisher Index:</b> {{book.publisher}}<br>
      <b>Author:</b> {{book.author}}<br>
      <b>Genre:</b> {{book.genre}}<br>
      {% if book.stock == 0 %}
      <b>Stock level:</b> <span style="color:red"> {{book.stock}} </span><br>
        {% elif book.stock < 3 %}
      <b>Stock level:</b> <span style="color:orange"> {{book.stock}} </span><br>
      {% else %}
      <b>Stock level:</b> {{book.stock}}<br>
        {% endif %}
      <b>Cost price:</b> {{book.cost_price}}<br>
      <b>Sale price:</b> {{book.sale_price}}<br>
      <b>Blurb:</b> {{book.blurb}}<br>
      <b>Index:</b> {{book.id}}<br>
      <a href="/books/{{book.id}}" method="GET">Edit entry</a>
      {% if book.stock > 0 %}
      <a href="/books/{{book.id}}/sell" method="POST">Sell copy</a>
      {% endif %}
      <a href="/books/{{book.id}}/buy" method="POST">Buy copy</a>
      <a href="/books/{{book.id}}/delete" method="POST">Remove book from inventory</a><br>
        <br>
    </div>
</div>
      
{% endfor %} 

{% endblock %}