header {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: dodgerblue;
}

body > header > h1 {
    color: white;
    font-size: large;
}

body > header > h2 {
    color: white;
    font-size: medium;
}

nav > ul > li {
    color:yellow;
}

body {
    margin: 10;
    font-family: sans-serif;
  }

#gallery {
    display: inline flex;
    flex-flow: flex wrap;
    align-content: center;
  }
  
  .image {
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border: 6px solid white;
    flex: 66%; 
  }

  