

#grid-container {
  display: grid;
  grid-template-areas:
    "header-left header-center header-right"
    "main main"
    "footer footer footer";
  grid-template-columns: 8fr 1fr 1fr;
  grid-template-rows: 100px, 100px, 100px;
  gap: 15px 15px;
}

#header-right {
  align-content: right;
}
body {
  background-color: #a8edea;
  font-family: "Lora", serif;
}

h2 {
  font-size: medium;
}

header {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  text-indent: 50px;
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: #fed6e3;
  position: static;
  bottom: 10px;
  left: 15px;
  right: 15px;
  height: 20px;
  text-align: center;
  padding: 10px;
}

.search-by {
  background-color: #fed6e3;
  padding: 20px;
  margin: 6px;
}

.header-text {
  padding: 10px;
  display: inline;
}

.header-buttons {
  padding: 10px;
  display: inline;
  align-content: right
}

.main-content {
  grid-area: main;
}

.publishers {
  align-content: center;
  padding: 20px;
  width: 400px;
  height: 300px;
  margin-left: 100px;
  margin-bottom: 50px;
  background-color: #fed6e3;
  border: 1px solid white;
}

.main-block-content {
  align-content: center;
  padding: 20px;
  width: 400px;
  height: 600px;
  margin-left: 100px;
  margin-bottom: 50px;
  background-color: #fed6e3;
  border: 1px solid white;
}

.book-item {
  flex: auto;
  /* align-content: center;
  height: auto;
  width: 25%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 20px;
  padding: 5px; */
}


#book-container {
  display: flex;
  padding: 32px;
  grid-area: main;
  align-content: center;
}

.cancel {
  text-align: center;
}
