<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet"> 
  <title>A Great Deal Smaller Than the Entire Universe</title>
</head>
<body>
  <header>
<div id= "grid-container">
      <div id= "header-left">
    <section class="header-text">
    <h1>A Great Deal Smaller Than the Entire Universe.</h1>
    <h2>For very few of your poetry needs.</h2>
    </section>
      </div>
  <div id="header-right">
    <section class="header-buttons">
        <form action="/">
          <input type="submit" value="Home">
        </form>
        <form action="/books">
          <input type="submit" value="Books">
        </form>
        <form action="/publishers">
          <input type="submit" value="Publishers">
        </form>
        <form action="/books/new">
          <input type="submit" value="Add book">
        </form>
        <form action="/publishers/new">
          <input type="submit" value="Add publisher">
        </form>  
  </section>
  </div>
  </header>
</div>
    {% block content %}
    {% endblock %}
</body>
<footer>
  'There's no money in poetry, but then there's no poetry in money either.' - Robert Graves
</footer>
</html>
