{% extends "base.html" %} 

{% block content %}

{% for publisher in all_publishers %} 
<section class="publishers">
        <br>
      <b>Name:</b> {{publisher.name}}<br>
      <b>Location:</b> {{publisher.location}}<br>
      <b>Active?:</b> {{publisher.active}}<br>
      <b>Index:</b> {{publisher.id}}<br>
      <br>
      <a href="/publishers/{{publisher.id}}" method="POST">Edit entry</a><br>
        {% if publisher.active == False %}
      <a href="/publishers/{{publisher.id}}/active" method="POST">Activate publisher</a><br>
        {% else %}
      <a href="/publishers/{{publisher.id}}/deactive" method="POST">Deactivate publisher</a><br>
        {% endif %}
      <a href="/publishers/{{publisher.id}}/delete" method="POST">Remove publisher</a><br>
</section>
      
{% endfor %} 

{% endblock %}