{% extends "base.html" %} 

{% block content %}

{% for publisher in all_publishers %} 
<div>
        <br>
      Name:{{publisher.name}}<br>
      Location:{{publisher.location}}<br>
      Active?:{{publisher.active}}<br>
      Index:{{publisher.id}}<br>
      <a href="/publishers/{{publisher.id}}" method="POST">Edit entry</a><br>
        {% if publisher.active == False %}
      <a href="/publishers/{{publisher.id}}/active" method="POST">Activate publisher</a><br>
        {% else %}
      <a href="/publishers/{{publisher.id}}/deactive" method="POST">Deactivate publisher</a><br>
        {% endif %}
      <a href="/publishers/{{publisher.id}}/delete" method="POST">Remove publisher</a><br>
</div>
      
{% endfor %} 

{% endblock %}