{% extends "base.html" %} 

{% block content %}
<section class="publishers">
<form action="/publishers/new" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="None" required autofocus>
  </div>
  <div>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" value="None" required>
  </div>
  <div>
    <label for="active">Active?:</label>
    <input type="text" id="active" name="active" value="True" required>
  </div>



  <button type="submit">Update Publisher</button>

</form>
</section>
{% endblock %}